{% extends 'documentation/html_prototype/static_prototype.html' %}

{% block title %}
Cars list
{% endblock %}

{% block body %}
<h1>Cars list</h1>
<a href="/add-car" class="btn btn-primary">Add</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Car description</th>
            <th scope="col">Rental cost</th>
            <th scope="col">Number of orders</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for row in linked_cars %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>
                        <a href="/cars-list/{{ row[0] }}/delete-car" class="btn btn-outline-danger" onclick="return confirm('Please confirm delete car')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}